# Core requirements
Django==2.0.6
django-configurations==2.0
pytz==2018.4

# Rest API
djangorestframework==3.8.2
django-filter==1.1.0

# Database stores
psycopg2-binary==2.7.5


# Developing tools
flake8==3.5.0


# Static and Media Storage
django-storages==1.6.6
boto3==1.7.41